<div style="margin-left: 10%; margin-bottom: 10%; width: 20%;">
  <div class="title">
    <h3>Validate Barcode</h3>
  </div>
  <div class="input-group mb-1">
    <input type="text" class="form-control" [(ngModel)]="barcode" placeholder="Barcode" id="barcode">
  </div>
  <br>
  <div *ngIf="result">
    <div *ngIf="valid" class="alert alert-success" role="alert">
      <h4 class="alert-heading">Válido!!!</h4>
    </div>
    <div *ngIf="!valid" class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Inválido!!!</h4>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-info" (click)="validateBarcode(barcode)">Validate</button>
</div>